#login-form {
  display: flex;
  flex-direction: column;
  border: solid 1px #ddd;
  border-radius: 5px;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background: aliceblue;
}

#login-form input:last-of-type,
#login-form button {
  margin-bottom: 10px;
}

.error {
  color: red;
}

#btn-cancel {
  width: 100%;
}
