#new-car-form {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  border: solid 1px #ddd;
  padding: 20px;
  border-radius: 5px;
}

.error {
  color: red;
}

#photo_preview {
  margin-bottom: 10px;
  flex-wrap: wrap;
}

#photo_preview div {
  padding-right: 5px;
}

#photo_preview img {
  width: 84px;
}
